_vendor
*.gem
*.rbc
.bundle
.config
.rvmrc
.ruby-*
coverage
Gemfile*
InstalledFiles
lib/bundler/man
output/
coverage
InstalledFiles
lib/bundler/man
output/
pkg
Rakefile
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
