@charset "UTF-8";

/*--------Put Your Custom CSS Rules Below--------*/
/*--- This oneoff overrides the code in https://github.com/oreillymedia/animal_theme/blob/master/pdf/pdf.css---*/

/* Font fallback for U+2318 */

pre, code { font-family: UbuntuMono, Symbola, monospace }

.pagebreak-before {
  page-break-before: always;
}

.pagebreak-after {
  page-break-after: always;
}

/* Callout hacks for pdf */
a[class="co"] img {
  display: none;
}

pre[data-type="programlisting"] a.co:nth-of-type(1):before {
  content: url("../../images/callouts/1.pdf");
}

pre[data-type="programlisting"] a.co:nth-of-type(2):before {
  content: url("../../images/callouts/2.pdf");
}

pre[data-type="programlisting"] a.co:nth-of-type(3):before {
  content: url("../../images/callouts/3.pdf");
}

pre[data-type="programlisting"] a.co:nth-of-type(4):before {
  content: url("../../images/callouts/4.pdf");
}

dl.calloutlist dt:nth-of-type(1) a.co:before {
  content: url("../../images/callouts/1.pdf");
}

dl.calloutlist dt:nth-of-type(2) a.co:before {
  content: url("../../images/callouts/2.pdf");
}

dl.calloutlist dt:nth-of-type(3) a.co:before {
  content: url("../../images/callouts/3.pdf");
}

dl.calloutlist dt:nth-of-type(4) a.co:before {
  content: url("../../images/callouts/4.pdf");
}

/*----Uncomment to turn OFF automatic code wrapping (it's on by default in the new toolchain)

pre {
  white-space: pre;
}
----*/

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/



/*============== CSS from Sam ==============*/
/*fixing space beneath safari paragraph*/
div.safarienabled {
  margin-bottom: -15pt; 
  padding-bottom: 0;
  font-size: 10.5pt;}



dl.calloutlist {
    font-family: "MinionPro";
    font-size: 10.5pt;
    text-align: justify;
}

dl.calloutlist dt {
  position: relative;
  line-height: 0;
  top: 5pt;
  margin-bottom: -5pt;
  page-break-after: avoid;
}

dl.calloutlist dd {
   margin-bottom: -5pt;

}

blockquote[data-type="epigraph"] p {text-align: left;}

/* -


